html {
  background-color: #1f363d;
  font-family: 'Arial New', Arial, monospace;
  color: #faf8f8;
}

body {
  text-align: 20px;
  font: 25px;
}

h1 {
  text-align: center;
}

h3 {
  margin: 20px;
  display: none;
}

h4 {
  margin: 20px;
  display: none;
}

table {
  border-collapse: collapse;
  overflow-y: scroll;
  display: none;
  height: 307px;
}

th {
  position: sticky;
  top: 0;
  background-color: #846075;
}

th,
td {
  border-bottom: 1px solid #c9f0ff;
  padding: 10px;
}

tfoot tr:last-child td {
  border-bottom: 0;
}

.button {
  padding: 14px;
  cursor: pointer;
  background-color: #90a0bb;
  color: #faf8f8;
  border: none;
}

.button:hover {
  background-color: #7e8ca3;
}

.dropdown {
  float: right;
  display: none;
  z-index: 1;
}

.dropdown a {
  color: #faf8f8;
  background-color: #354a50;
  padding: 10px 20px;
  display: inline-block;
}

.dropdown a:hover {
  background-color: #4b5e63;
}

.dropdown-display {
  display: block;
}

#happiness-filter{
  display: none;
  float: right;
}

#status {
  color: #c9f0ff;
}

.selectable tr:hover {
  background-color: #05948b;
}

#script-table {
  float: left;
}

#op-table {
  float: right;
}

#stub-table {
  float: left;
  height: 215px;
}

#cacheIR-table {
  float: right;
}

